# env / secrets
.env
.env.*.local

# dependencies
node_modules/
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build
dist/
**/dist/

# database / runtime data
data/
*.sqlite
*.sqlite3

# OS/IDE
.DS_Store
.vscode/
.idea/

# ssh keys
.ssh/
USERPROFILE.sshstream-rpg
USERPROFILE.sshstream-rpg.pub

# n8n specific
.n8n/