name: stream-rpg-overlay

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    profiles: ["prod"]

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiZDEzOTBmZDZhODA1ZjYyOGEzMDYzOTMwOWUzOTk3YTMiLCJ0IjoiZmZkYWJmZTYtODhlMy00NGFkLTgzMWYtY2FmYjQzNmEzYTdlIiwicyI6Ik5UVmhOVE14WkdFdFpqRTNZUzAwTURBeUxXSXlZMll0T1RJM1lUaGpZelE1TW1ZeiJ9
    restart: unless-stopped
    depends_on:
      - app
    profiles: ["prod"]
    
volumes:
  app_node_modules:
  api_node_modules:
